$bg-body: rgba(237, 242, 248, 1);
$bg-article: rgba(255, 255, 255, 1);
$bg-share-btn: rgba(240, 242, 247, 1);
$bg-share-btn-active: rgba(111, 132, 155, 1);
$bg-icon: rgba(255, 255, 255, 1);
$bg-share-area: rgba(72, 85, 106, 1);
$clr-font-1: rgba(72, 85, 106, 1);
$clr-font-2: rgba(110, 127, 150, 1);
$clr-font-3:  rgba(158, 175, 194, 1);
$font-family: 'Manrope', sans-serif;